<div class="header">

  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">thebarrauds</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li><a ng-href="#/">Log out</a></li>
          <li class="active"><a href="">Fragments</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <div class="btn-group-xs" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-click="pagepropertiesdir.newpage()">New</button>
      <button type="button" class="btn btn-default" ng-click="deletepage()" ng-disabled="!pageavailable()">Delete</button>
      <button type="button" class="btn btn-default" ng-click="pagepropertiesdir.editpage()" ng-disabled="!pageavailable()">Edit</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <page-list listitemdata="listitemdata" pagelistdirective="pagelistdirective"></page-list>
  </div>
  <div class="col-md-8">
    <div class="row" ng-if="pageavailable()">
      <h1>{{pagepropertiesdata.title}}</h1>
      <table class="table table-bordered">
        <tr>
          <td>
            <button type="button" class="btn btn-primary btn-sm" ng-click="newfragment()">Get started by adding your first fragment to the page</button>
          </td>
        </tr>
        <tr ng-repeat="pagefragment in pagepropertiesdata.pagefragment">
          <td>
            <fragment-container></fragment-container>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- property pages modal directive -->
<pageproperties-modal pagepropertiesdir="pagepropertiesdir" pagepropertiesdata="pagepropertiesdata" pagepropertychanged="pagepropertychanged()"></pageproperties-modal>

<!-- add fragments modal directive -->
<addfragments-modal addfragmentsdir="addfragmentsdir" addfragmenttopage="addfragmenttopage(selectedpagefragment)"></addfragments-modal>


<rich-text></rich-text>


<div class="modal fade" id="deletePagePrompt" tabindex="-1" role="dialog" aria-labelledby="deletePagePrompt"  data-target="#deletePagePrompt">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete page</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete page <b>{{pagepropertiesdata.title}}</b>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" ng-click="deletepageconfirmed()">Yes</button>
      </div>
    </div>
  </div>

</div>
