<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <div class="btn-group-xs" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-click="openpagepropertiesmodal()">New</button>
      <button type="button" class="btn btn-default">Delete</button>
      <button type="button" class="btn btn-default">Edit</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <page-list pagadata=pagedata></page-list>
  </div>
  <div class="col-md-8">
    <div class="row" ng-if="pagedata">
      <table class="table table-bordered">
        <tr ng-show="true">
          <td>
            <button type="button" class="btn btn-primary btn-sm" ng-click="newfragment()">Get started by adding your first fragment to the page</button>
          </td>
        </tr>
        <tr ng-repeat="pagefragment in pagedata.pagefragment">
          <td>
            <div class="row">
              <div class="col-md-10">

              </div>
              <div class="col-md-1">
                <div class="btn-group">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Do <span class="caret"></span>
                    </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" ng-click="newfragment()">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Move up</a></li>
                    <li><a href="#">Move down</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Add before</a></li>
                    <li><a href="#">Add after</a></li>
                  </ul>
                </div>

              </div>
            </div>

          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<pageproperties-modal pagepropertiesdir="pagepropertiesdir" pagedata=pagedata></pageproperties-modal>
<div class="modal fade" id="addfragmentsModal" tabindex="-1" role="dialog" aria-labelledby="addfragmentsModal"  data-target="#addfragmentsModal">
  <addfragments-modal fragmenttypes="fragmenttypes" closeaddfragmentsmodal="closeaddfragmentsmodal()" fragmenttype=fragmenttype></addfragments-modal>
</div>

<div class="modal fade" id="richtextModal" tabindex="-1" role="dialog" aria-labelledby="richtextModal"  data-target="#richtextModal">
  <rich-text></rich-text>
</div>
