<div class="row">
  <div class="col-md-11" ng-bind-html="boonga">
  </div>
  <div class="col-md-1">
    <div class="btn-group">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Do <span class="caret"></span>
        </button>
      <ul class="dropdown-menu">
        <li><a href="" ng-click="editFragment()">Edit</a></li>
        <li><a href="">Delete</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="">Move up</a></li>
        <li><a href="">Move down</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="">Add before</a></li>
        <li><a href="">Add after</a></li>
      </ul>
    </div>
  </div>
</div>
